{{with .Params.text_groups}}
<div class="categories clearfix bottom-space">
  {{- range . -}}
    <div class="category{{with .class}} {{.}}{{end}}">
      {{- with .name -}}
        <div class="name">{{- . | safeHTML -}}</div>
      {{- end -}}
        <div class="description">
          {{- .description | safeHTML -}}
          {{- with .items -}}
          <ul>
            {{- range . -}}
              <li>{{- . | safeHTML -}}</li>
            {{- end -}}
          </ul>
          {{- end -}}
        </div>
    </div>
  {{- end -}}
</div>
{{- end -}}