@import "variables.scss";
@import "responsive.scss";

*:focus {
    outline: none;
}

.bubble {
    border-radius: $borderRadius;
    border-style: $borderStyle;
    border-width: $borderWidth;

    padding: $paddingButton;

    color: $buttonTextColor;
    background-color: $buttonBackgroundColor;
    border-color: $buttonBorderColor;

    text-align: left;
    user-select: none;
    transition: all 0.25s ease;

    .icon > .material-design-icon__svg {
        bottom: 0;
    }
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@mixin actionable {
    cursor: pointer;

    &:hover {
        background-color: $buttonBorderColor;
    }

    &:active {
        border-color: darken($buttonBorderColor, 10%);
        background-color: darken($buttonBorderColor, 10%);
    }

    &.disabled {
        background-color: $buttonBorderColor;
        color: $textColorSecondary;
        cursor: not-allowed;

        &:hover {
            background-color: $buttonBorderColor;
        }

        &:active {
            border-color: $buttonBorderColor;
            background-color: $buttonBorderColor;
        }
    }
}

@mixin selectable {
    &.selected {
        background-color: $accentColor;
        border-color: $accentColor;
        color: white;
    }

    &:hover {
        &.selected {
            background-color: lighten($accentColor, 5%);
            border-color: lighten($accentColor, 5%);
        }
    }

    &:active {
        &.selected {
            background-color: lighten($accentColor, 10%);
            border-color: lighten($accentColor, 10%);
        }
    }
}

@mixin centered {
    @include respond-to(medium) {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}
