@import "variables.scss";
@import "responsive.scss";

body {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}

.bubble {
    border-radius: $borderRadius;
    border-style: $borderStyle;
    border-width: $borderWidth;

    padding: $paddingButton;

    color: $buttonTextColor;
    background-color: $buttonBackgroundColor;
    border-color: $buttonBorderColor;

    text-align: left;
    user-select: none;

    .icon > .material-design-icon__svg {
        bottom: 0;
    }
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.vertical-list {
    display: flex;
    flex-direction: column;
}

@mixin actionable {
    cursor: pointer;

    transition: all $animationDuration;

    &:hover {
        background-color: $buttonBorderColor;
    }

    &:active {
        border-color: darken($buttonBorderColor, 10%);
        background-color: darken($buttonBorderColor, 10%);
    }

    &.disabled {
        background-color: $buttonBorderColor;
        color: $textColorSecondary;
        cursor: not-allowed;

        &:hover {
            background-color: $buttonBorderColor;
        }

        &:active {
            border-color: $buttonBorderColor;
            background-color: $buttonBorderColor;
        }
    }
}

@mixin selectable {
    &.selected {
        background-color: $accentColor;
        border-color: $accentColor;
    }

    &:hover {
        &.selected {
            background-color: lighten($accentColor, 5%);
            border-color: lighten($accentColor, 5%);
        }
    }

    &:active {
        &.selected {
            background-color: lighten($accentColor, 10%);
            border-color: lighten($accentColor, 10%);
        }
    }
}

@mixin centered {
    @include respond-to(medium) {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@mixin authorable {
    position: relative;

    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $buttonBorderColor;
        border-bottom: 10px solid transparent;
        bottom: -21px;
    }

    &:after {
        transition: $animationDuration;
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $backgroundColor;
        border-bottom: 10px solid transparent;
        bottom: -18px;
    }

    &.right {
        align-self: flex-end;
        &:before {
            right: 1.5em;
        }

        &:after {
            right: 1.5em;
        }
    }

    &.left {
        align-self: flex-start;
        &:before {
            left: 1.5em;
        }

        &:after {
            left: 1.5em;
        }
    }
}
