.bubble {
    border-radius: $borderRadius;
    border-style: $borderStyle;
    border-width: $borderWidth;

    padding: $paddingButtonSmall;
    max-width: 100%;

    @include respond-to(small) {
        padding: $paddingButton;
        max-width: 70%;
    }

    color: $buttonTextColor;
    background-color: $buttonBackgroundColor;
    border-color: $buttonBorderColor;

    text-align: left;
    user-select: none;

    .icon > .material-design-icon__svg {
        bottom: 0;
    }
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.vertical-list {
    display: flex;
    flex-direction: column;
}

@mixin actionable($color: $buttonBorderColor) {
    cursor: pointer;

    transition: all $animationDuration;

    &:hover {
        background-color: $color;
    }

    &:active {
        border-color: darken($color, 10%);
        background-color: darken($color, 10%);
    }

    &.disabled {
        background-color: $color;
        color: $textColorSecondary;
        cursor: not-allowed;

        &:hover {
            background-color: $color;
        }

        &:active {
            border-color: $color;
            background-color: $color;
        }
    }
}

@mixin selectable {
    &.selected {
        background-color: $accentColor;
        border-color: $accentColor;
    }

    &:hover {
        &.selected {
            background-color: lighten($accentColor, 5%);
            border-color: lighten($accentColor, 5%);
        }
    }

    &:active {
        &.selected {
            background-color: lighten($accentColor, 10%);
            border-color: lighten($accentColor, 10%);
        }
    }
}

@mixin centered {
    margin-left: auto;
    margin-right: auto;
}

@mixin authorable {
    position: relative;

    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $buttonBorderColor;
        border-bottom: 10px solid transparent;
        bottom: -21px;
    }

    &:after {
        transition: $animationDuration;
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $backgroundColor;
        border-bottom: 10px solid transparent;
        bottom: -18px;
    }

    &.right {
        align-self: flex-end;
        &:before {
            right: 1.5em;
        }

        &:after {
            right: 1.5em;
        }
    }

    &.left {
        align-self: flex-start;
        &:before {
            left: 1.5em;
        }

        &:after {
            left: 1.5em;
        }
    }
}

@mixin big-icon {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    color: $textColorInfo;

    & > .material-design-icon__svg {
        height: 1.5rem;
        width: 1.5rem;
        bottom: 0;
    }
}
