// COLOR
$accentColor: #ffd428;
$focusColor: #ffb028;
$backgroundColor: #fff;
$secondaryBackgroundColor: #fafafa;
$bubbleBackgroundColor: #f5f5f5;
$buttonTextColor: #2c3e50;
$buttonBackgroundColor: white;
$buttonBorderColor: #eeeeee;
$textColor: #253443;
$textColorInfo: lighten($textColor, 35%);
$textColorSecondary: darken($buttonBorderColor, 15%);

// Original text color was #2c3e50

// BORDER
$borderWidth: 2px;
$borderStyle: solid;
$borderRadius: 0.75rem;

// MARGIN
$marginRegular: 1.5rem;
$marginMedium: 1rem;
$marginSmall: 0.5rem;
$marginSmallest: 0.25rem;
$marginMinute: 0.15rem;

// PADDING
$paddingButton: 0.5rem 1.25rem;
$paddingButtonSmall: 0.35rem 0.75rem;
$paddingButtonBuy: 0.75rem;
$paddingButtonBuySmall: 0.5rem 0.75rem;

// TEXT
$textSize: 1.125rem;
$textSizeLarge: $textSize * 1.25;
$textSizeSmall: 1rem;
$fontFamily: Roboto, Arial, sans-serif;
$lineHeight: 1.6rem;
$lineHeightSmall: 1.4rem;

// GENERAL
$chatWidth: 45rem;
$buttonSize: 3rem;

// ANIMATION
$animationDuration: 0.3s;
$animationDelay: 0.3s;
$fastAnimationDuration: 0.1s;
