// COLOR
$accentColor: #224afa; 
$backgroundColor: #fff;
$textColor: #2c3e50;
$buttonTextColor: #2c3e50;
$buttonBackgroundColor: transparent;
$buttonBorderColor: #eeeeee;

// BORDER
$borderWidth: 2px;
$borderStyle: solid;
$borderRadius: .75rem;

// PADDING
$paddingButton: 0.6rem 1.5rem;