// COLOR
$accentColor: #FFD428; 
$backgroundColor: #fff;
$secondaryBackgroundColor: #f5f5f5;
$buttonTextColor: #2c3e50;
$buttonBackgroundColor: white;
$buttonBorderColor: #eeeeee;
$textColor: #2c3e50;
$textColorSecondary: darken($buttonBorderColor, 15%);

// BORDER
$borderWidth: 2px;
$borderStyle: solid;
$borderRadius: .75rem;

// MARGIN
$marginRegular: 1.5rem;
$marginMedium: 1rem;
$marginSmall: 0.5rem;

// PADDING
$paddingButton: 0.5rem 1.5rem;

// TEXT
$textSize: 1.125rem;
$fontFamily: Roboto, Arial, sans-serif;

// GENERAL
$chatWidth: 45rem;

// ANIMATION
$animationDuration: 0.2s;
$animationDelay: 0.2s;
$fastAnimationDuration: 0.1s;