html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: $fontFamily;
    font-weight: $fontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $textColor;
    font-size: $textSize;
    background-color: $backgroundColorSecondary;

    @include respond-to(small) {
        font-size: $textSizeLarge;
    }
}

*:focus {
    outline: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    min-height: 36px;
    padding: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $textColor;
    outline: none;

    font-size: $textSize;

    @include respond-to(medium) {
        font-size: $textSizeLarge;
    }
}

p {
    margin: 0;
    padding: 0;

    line-height: $lineHeightSmall;

    @include respond-to(small) {
        line-height: $lineHeight;
    }
}

ul {
    margin: 0;
    padding: 0 1rem;

    li {
        line-height: $lineHeightSmall;

        @include respond-to(small) {
            line-height: $lineHeight;
        }

        &:not(:last-child) {
            margin-bottom: $marginSmall;
        }
    }
}
