@import "responsive.scss";

@mixin bubble($border: $buttonBorderColor, $background: $buttonBackgroundColor, $radius: $borderRadius) {
    border-radius: $borderRadius;
    border-style: $borderStyle;
    border-width: $borderWidth;

    color: $textColor;
    border-color: $border;
    background-color: $background;
    max-width: $bubbleMaxWidthSmall;

    @include respond-to(small) {
        max-width: $bubbleMaxWidth;
    }

    &.right {
        align-self: flex-end;
        border: none;
        background: $accentColor;
        background: linear-gradient(90deg, $accentColor 35%, $accentColorDark 100%);
        color: white;
    }

    &.left {
        align-self: flex-start;
    }

    text-align: left;
    user-select: none;

    .icon > .material-design-icon__svg {
        bottom: 0;
    }
}

@mixin padded($small: $paddingButtonSmall, $large: $paddingButton) {
    padding: $small;

    @include respond-to(small) {
        padding: $large;
    }
}

@mixin horizontal-list($justify: flex-end, $wrap: wrap) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin vertical-list($align: inherit, $wrap: nowrap) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin actionable($color: $buttonBorderColor, $disabled: $buttonBorderColor) {
    cursor: pointer;

    transition: all $animationDuration;

    &:hover {
        border-color: $color;
        background-color: $color;
    }

    &:active {
        border-color: darken($color, 10%);
        background-color: darken($color, 10%);
    }

    &.disabled {
        background-color: $disabled;
        color: $textColorSecondary;
        cursor: not-allowed;

        &:hover {
            background-color: $disabled;
        }

        &:active {
            border-color: $disabled;
            background-color: $disabled;
        }
    }
}

@mixin centered {
    margin-left: auto;
    margin-right: auto;
}

@mixin big-icon($color: $textColorInfo) {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    color: $color;

    & > .material-design-icon__svg {
        height: 1.5rem;
        width: 1.5rem;
        bottom: 0;
    }
}
