// Color
$accentColor: #ffee70;
$accentColorDark: #ffec5c;
$accentColorDarkest: #f85e00;
$accentGradient: linear-gradient(90deg, $accentColorDark 35%, $accentColor 100%);

// Background
$backgroundColor: white;
$backgroundColorSecondary: #fafafa;

// Text
$textColor: #381d44;
$textColorSecondary: #a8a8a8;

// Original text color was #2c3e50
// cool color #ffe433

// Border
$borderWidth: 0px;
$borderWidthAction: 2px;
$borderRadius: 0.75rem;
$borderRadiusSmall: 0.15rem;
$borderRadiusHuge: 10rem;
$borderStyle: solid;
$borderColor: #eeeeee;
$borderColorDark: lighten(#76766c, 0%);
$borderColorDarker: lighten(#76766c, 0%);

// Margin
$marginLarge: 2rem;
$marginRegular: 1.5rem;
$marginMedium: 1rem;
$marginBetween: 0.75rem;
$marginSmall: 0.5rem;
$marginSmallest: 0.25rem;
$marginMinute: 0.15rem;

// Padding
$paddingButton: 0.25rem 1rem;
$paddingButtonLarge: 0.5rem 1.25rem;

$paddingButtonVertical: 0.75rem;
$paddingButtonVerticalLarge: 0.75rem;
$paddingButtonVerticalSmall: 0.5rem;

$paddingButtonHorizontal: 1rem;
$paddingButtonHorizontalLarge: 1rem;
$paddingButtonHorizontalSmall: 0.75rem;

$marginButton: 1rem;
$marginButtonLarge: 1rem;
$marginButtonSmall: 0.75rem;

// Text
$textSize: 16px;
$textSizeLarge: 18px;
$textSizeBig: 24px;
$textSizeHuge: 34px;
$textSizeSmall: 14px;
$textSizeSmallest: 12px;
$fontFamily: "Ubuntu", sans-serif;
$fontWeight: 400;
$lineHeight: 1.4rem;
$lineHeightLarge: 1.4rem;
$lineHeightHuge: 2.7rem;
$lineHeightSmall: 1.3rem;

// General
$bubbleMaxWidthSmall: 90%;
$bubbleMaxWidth: 80%;
$bubbleMinWidth: 10%;
$chatWidth: 45rem;
$buttonSize: 3rem;

// Animation
$animationDuration: 0.15s;
$animationDelay: 0;
$boxShadow: 0 1px 5px 10px rgba(0, 0, 0, 0.01), 0 1px 10px 2px rgba(0, 0, 0, 0.025),
    0 10px 20px -15px rgba(0, 0, 0, 0.075);
$boxShadowSmall: 0 1px 5px 5px rgba(0, 0, 0, 0.01), 0 1px 5px 2px rgba(0, 0, 0, 0.03), 0 10px 0px -10px rgba(0, 0, 0, 0);
