// Color
$accentColor: #ff7900;
$accentColorDark: #ff8500;

// Background
$backgroundColor: white;
$backgroundColorSecondary: #fafafa;

// Text
$textColor: #2c3e50;
$textColorSecondary: #a8a8a8;

// Original text color was #2c3e50
// cool color #ffe433

// Border
$borderWidth: 2px;
$borderRound: 2rem;
$borderStyle: solid;
$borderRadius: 0.75rem;
$borderRadiusInner: $borderRadius - 0.1rem;
$borderColor: #eeeeee;

// Margin
$marginRegular: 1.5rem;
$marginMedium: 1rem;
$marginSmall: 0.5rem;
$marginSmallest: 0.25rem;
$marginMinute: 0.15rem;

// Padding
$paddingButton: 0.5rem 0.75rem;
$paddingButtonSmall: 0.5rem 0.75rem;

// Text
$textSize: 16px;
$textSizeLarge: 18px;
$textSizeSmall: 14px;
$fontFamily: "Ubuntu", sans-serif;
$fontWeight: 400;
$lineHeight: 1.575rem;
$lineHeightSmall: 1.3rem;

// General
$bubbleMaxWidthSmall: 80%;
$bubbleMaxWidth: 70%;
$bubbleMinWidth: 10%;
$chatWidth: 55rem;
$buttonSize: 3rem;

// Animation
$animationDuration: 0.25s;
$animationDelay: 0;
