// Color
$accentColor: #ff6d00;
$accentColorDark: #ff7900;

// Background
$backgroundColor: white;
$backgroundColorSecondary: #fafafa;

// Text
$textColor: #381d33;
$textColorSecondary: #a8a8a8;

// Original text color was #2c3e50
// cool color #ffe433

// Border
$borderWidth: 0px;
$borderWidthAction: 2px;
$borderRadius: 0.75rem;
$borderRadiusSmall: 10rem;
$borderStyle: solid;
$borderColor: #eeeeee;
$borderColorDark: lighten(#736070, 15%);
$borderColorDarker: lighten(#736070, 0%);

// Margin
$marginRegular: 1.5rem;
$marginMedium: 1rem;
$marginSmall: 0.5rem;
$marginSmallest: 0.25rem;
$marginMinute: 0.15rem;

// Padding
$paddingButton: 0.75rem 1rem;
$paddingButtonLarge: 0.75rem 1rem;
$paddingButtonSmall: 0.5rem 0.75rem;

$marginButton: 1rem;
$marginButtonLarge: 1rem;
$marginButtonSmall: 0.75rem;

// Text
$textSize: 16px;
$textSizeLarge: 18px;
$textSizeSmall: 14px;
$textSizeSmallest: 12px;
$fontFamily: "Ubuntu", sans-serif;
$fontWeight: 400;
$lineHeight: 1.4rem;
$lineHeightLarge: 1.5rem;
$lineHeightSmall: 1.3rem;

// General
$bubbleMaxWidthSmall: 90%;
$bubbleMaxWidth: 80%;
$bubbleMinWidth: 10%;
$chatWidth: 55rem;
$buttonSize: 3rem;

// Animation
$animationDuration: 0.15s;
$animationDelay: 0;
$boxShadow: 0 1px 10px 5px rgba(0, 0, 0, 0.01), 0 1px 10px 2px rgba(0, 0, 0, 0.025),
    0 10px 50px -10px rgba(0, 0, 0, 0.075);
